<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IR uplate</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Filtriranje i Pretraga</h1>
      <form method="POST" class="form-inline mb-4">
        <input
          type="text"
          name="search_value"
          class="form-control mr-2"
          placeholder="Pretraga po predmetu"
        />
        <button type="submit" class="btn btn-primary">Pretraži</button>
      </form>
      {% for table in tables %}
      <div class="table-responsive">{{ table|safe }}</div>
      {% endfor %}
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
